<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= customer.street %>
  </p>

  <p>
    <strong>State:</strong>
    <%= customer.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= customer.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
