<div class="flex items-center justify-between p-6 container mx-auto">
<%= form_with(model: product, url: admin_product_path(product), class: "w-full max-w-lg flex items-center ") do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap mx-1 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :name, style: "display: block", class: "uppercase tracking-wide text-gray-700 text-xs font-bold mb-2", for: "grid-product-name"%>
      <%= form.text_field :name, class: "appearance-none block w-full bg-white-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", id: "grid-product-name", type: "text" %>
    </div>

    <div class="w-full px-3">
      <%= form.label :description, style: "display: block", class: "", for: "grid-product-description"%>
      <%= form.rich_text_area :description, class: "appearance-none block w-full bg-white-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", id: "grid-product-description" %>
    </div>

    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <%= form.label :price, style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2", for: "grid-product-price" %>
      <%= form.text_field :price, class: "appearance-none block w-full bg-white-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", id: "grid-product-price", placeholder: "$" %>
    </div>


    <div>
      <%= form.submit class: "shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 mt-7 rounded" %>
    </div>
  </div>
<% end %>
</div>
