<%= turbo_frame_tag dom_id(product) do %>
  <div id="<%= dom_id product %>">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="flex flex-col">
        <div class="space-y-2">
          <p>
            <strong>Name:</strong>
            <%= product.name %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= product.description %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= product.price %>
          </p>
        </div>
        <div class="space-y-4">
          <p data-turbo="false" class="mt-7">
            <%= link_to "Edit this product", edit_admin_product_path(product), remote: false %> 
          </p>
          <p>
            <%= link_to "Delete this product", admin_product_path(product), method: :delete %>
          </p>
        </div>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div>
    </div>
  </div>
<% end %>
