<%= turbo_frame_tag dom_id(product) do %>
  <div id="<%= dom_id product %>">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <p>
          <strong>Name:</strong>
          <%= product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= product.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= product.price %>
        </p>

        <p>
          <strong>Image url:</strong>
          <%= product.image_url %>
        </p>

        <p>
          <%= link_to "Show this product", product %>
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div>
    </div>
  </div>
<% end %>
