<p style="color: green"><%= notice %></p>

<h1>Products</h1>

  <%= turbo_stream_from :products %>
  <%= turbo_frame_tag :products do %>
    <%= render @products %>
  <% end %>

<%= link_to "New product", new_product_path %>
